.t1-1{
    position: absolute;
    left: 1cm;
    top: 2cm;
}

.t2-1{
    position: absolute;
    left: 2cm;
    top: 2cm;
}
.t3-1{
    position: absolute;
    left: 3cm;
    top: 2cm;
}

.t4-1{
    position: absolute;
    left: 4cm;
    top: 2cm;
}

.t5-1{
    position: absolute;
    left: 5cm;
    top: 2cm;
}

.t6-1{
    position: absolute;
    left: 6cm;
    top: 2cm;
}

.t7-1{
    position: absolute;
    left: 7cm;
    top: 2cm;
}

.t8-1{
    position: absolute;
    left: 8cm;
    top: 2cm;
}

.t9-1{
    position: absolute;
    left: 9cm;
    top: 2cm;
}

.t10-1{
    position: absolute;
    left: 10cm;
    top: 2cm;
}

.t11-1{
    position: absolute;
    left: 11cm;
    top: 2cm;
}

.t12-1{
    position: absolute;
    left: 12cm;
    top: 2cm;
}

.t13-1{
    position: absolute;
    left: 13cm;
    top: 2cm;
}

.t14-1{
    position: absolute;
    left: 14cm;
    top: 2cm;
}

.t15-1{
    position: absolute;
    left: 15cm;
    top: 2cm;
}

.t16-1{
    position: absolute;
    left: 16cm;
    top: 2cm;
}

.t17-1{
    position: absolute;
    left: 17cm;
    top: 2cm;
}

.t18-1{
    position: absolute;
    left: 18cm;
    top: 2cm;
}

.t19-1{
    position: absolute;
    left: 19cm;
    top: 2cm;
}

.t20-1{
    position: absolute;
    left: 20cm;
    top: 2cm;
}

.t21-1{
    position: absolute;
    left: 21cm;
    top: 2cm;
}

.t22-1{
    position: absolute;
    left: 22cm;
    top: 2cm;
}

.t23-1{
    position: absolute;
    left: 23cm;
    top: 2cm;
}

.t24-1{
    position: absolute;
    left: 24cm;
    top: 2cm;
}

.t25-1{
    position: absolute;
    left: 25cm;
    top: 2cm;
}

.t26-1{
    position: absolute;
    left: 26cm;
    top: 2cm;
}

.t27-1{
    position: absolute;
    left: 27cm;
    top: 2cm;
}

.t28-1{
    position: absolute;
    left: 28cm;
    top: 2cm;
}

.t29-1{
    position: absolute;
    left: 29cm;
    top: 2cm;
}

.t30-1{
    position: absolute;
    left: 30cm;
    top: 2cm;
}

/*piso*/

.t1-1{
    position: absolute;
    left: 1cm;
    top: 1cm;
}

.t1-2{
    position: absolute;
    left: 1cm;
    top: 2cm;
}
.t1-3{
    position: absolute;
    left: 1cm;
    top: 3cm;
}

.t1-4{
    position: absolute;
    left: 1cm;
    top: 4cm;
}

.t1-5{
    position: absolute;
    left: 1cm;
    top: 5cm;
}

.t1-6{
    position: absolute;
    left: 1cm;
    top: 6cm;
}

.t1-7{
    position: absolute;
    left: 1cm;
    top: 7cm;
}

.t1-8{
    position: absolute;
    left: 1cm;
    top: 8cm;
}

.t1-9{
    position: absolute;
    left: 1cm;
    top: 9cm;
}

.t1-10{
    position: absolute;
    left: 1cm;
    top: 10cm;
}

.t1-11{
    position: absolute;
    left: 1cm;
    top: 11cm;
}

.t1-12{
    position: absolute;
    left: 1cm;
    top: 12cm;
}

.t1-13{
    position: absolute;
    left: 1cm;
    top: 13cm;
}

.t1-14{
    position: absolute;
    left: 1cm;
    top: 14cm;
}

.t1-15{
    position: absolute;
    left: 1cm;
    top: 15cm;
}

.t1-16{
    position: absolute;
    left: 1cm;
    top: 16cm;
}

.t1-17{
    position: absolute;
    left: 1cm;
    top: 17cm;
}

.t1-18{
    position: absolute;
    left: 1cm;
    top: 18cm;
}

.t1-19{
    position: absolute;
    left: 1cm;
    top: 19cm;
}

.t1-20{
    position: absolute;
    left: 1cm;
    top: 20cm;
}

.t1-21{
    position: absolute;
    left: 1cm;
    top: 21cm;
}

.t1-22{
    position: absolute;
    left: 1cm;
    top: 22cm;
}

.t1-23{
    position: absolute;
    left: 1cm;
    top: 23cm;
}

.t1-24{
    position: absolute;
    left: 1cm;
    top: 24cm;
}

.t1-25{
    position: absolute;
    left: 1cm;
    top: 25cm;
}

.t1-26{
    position: absolute;
    left: 1cm;
    top: 26cm;
}

.t1-27{
    position: absolute;
    left: 1cm;
    top: 27cm;
}

.t1-28{
    position: absolute;
    left: 1cm;
    top: 28cm;
}

.t1-29{
    position: absolute;
    left: 1cm;
    top: 29cm;
}

.t1-30{
    position: absolute;
    left: 1cm;
    top: 30cm;
}

/*jojo*/

.t30-1{
    position: absolute;
    left: 29cm;
    top: 1cm;
}

.t30-2{
    position: absolute;
    left: 29cm;
    top: 2cm;
}
.t30-3{
    position: absolute;
    left: 29cm;
    top: 3cm;
}

.t30-4{
    position: absolute;
    left: 29cm;
    top: 4cm;
}

.t30-5{
    position: absolute;
    left: 29cm;
    top: 5cm;
}

.t30-6{
    position: absolute;
    left: 29cm;
    top: 6cm;
}

.t30-7{
    position: absolute;
    left: 29cm;
    top: 7cm;
}

.t30-8{
    position: absolute;
    left: 29cm;
    top: 8cm;
}

.t30-9{
    position: absolute;
    left: 29cm;
    top: 9cm;
}

.t30-10{
    position: absolute;
    left: 29cm;
    top: 10cm;
}

.t30-11{
    position: absolute;
    left: 29cm;
    top: 11cm;
}

.t30-12{
    position: absolute;
    left: 29cm;
    top: 12cm;
}

.t30-13{
    position: absolute;
    left: 29cm;
    top: 13cm;
}

.t30-14{
    position: absolute;
    left: 29cm;
    top: 14cm;
}

.t30-15{
    position: absolute;
    left: 29cm;
    top: 15cm;
}

.t30-16{
    position: absolute;
    left: 29cm;
    top: 16cm;
}

.t30-17{
    position: absolute;
    left: 29cm;
    top: 17cm;
}

.t30-18{
    position: absolute;
    left: 29cm;
    top: 18cm;
}

.t30-19{
    position: absolute;
    left: 29cm;
    top: 19cm;
}

.t30-20{
    position: absolute;
    left: 29cm;
    top: 20cm;
}

.t30-21{
    position: absolute;
    left: 29cm;
    top: 21cm;
}

.t30-22{
    position: absolute;
    left: 29cm;
    top: 22cm;
}

.t30-23{
    position: absolute;
    left: 29cm;
    top: 23cm;
}

.t30-24{
    position: absolute;
    left: 29cm;
    top: 24cm;
}

.t30-25{
    position: absolute;
    left: 29cm;
    top: 25cm;
}

.t30-26{
    position: absolute;
    left: 29cm;
    top: 26cm;
}

.t30-27{
    position: absolute;
    left: 29cm;
    top: 27cm;
}

.t30-28{
    position: absolute;
    left: 29cm;
    top: 28cm;
}

.t30-29{
    position: absolute;
    left: 29cm;
    top: 29cm;
}

.t30-30{
    position: absolute;
    left: 29cm;
    top: 30cm;
}

/*jeje*/

.t1-30{
    position: absolute;
    left: 1cm;
    top: 30cm;
}

.t2-30{
    position: absolute;
    left: 2cm;
    top: 30cm;
}
.t3-30{
    position: absolute;
    left: 3cm;
    top: 30cm;
}

.t4-30{
    position: absolute;
    left: 4cm;
    top: 30cm;
}

.t5-30{
    position: absolute;
    left: 5cm;
    top: 30cm;
}

.t6-30{
    position: absolute;
    left: 6cm;
    top: 30cm;
}

.t7-30{
    position: absolute;
    left: 7cm;
    top: 30cm;
}

.t8-30{
    position: absolute;
    left: 8cm;
    top: 30cm;
}

.t9-30{
    position: absolute;
    left: 9cm;
    top: 30cm;
}

.t10-30{
    position: absolute;
    left: 10cm;
    top: 30cm;
}

.t11-30{
    position: absolute;
    left: 11cm;
    top: 30cm;
}

.t12-30{
    position: absolute;
    left: 12cm;
    top: 30cm;
}

.t13-30{
    position: absolute;
    left: 13cm;
    top: 30cm;
}

.t14-30{
    position: absolute;
    left: 14cm;
    top: 30cm;
}

.t15-30{
    position: absolute;
    left: 15cm;
    top: 30cm;
}

.t16-30{
    position: absolute;
    left: 16cm;
    top: 30cm;
}

.t17-30{
    position: absolute;
    left: 17cm;
    top: 30cm;
}

.t18-30{
    position: absolute;
    left: 18cm;
    top: 30cm;
}

.t19-30{
    position: absolute;
    left: 19cm;
    top: 30cm;
}

.t20-30{
    position: absolute;
    left: 20cm;
    top: 30cm;
}

.t21-30{
    position: absolute;
    left: 21cm;
    top: 30cm;
}

.t22-30{
    position: absolute;
    left: 22cm;
    top: 30cm;
}

.t23-30{
    position: absolute;
    left: 23cm;
    top: 30cm;
}

.t24-30{
    position: absolute;
    left: 24cm;
    top: 30cm;
}

.t25-30{
    position: absolute;
    left: 25cm;
    top: 30cm;
}

.t26-30{
    position: absolute;
    left: 26cm;
    top: 30cm;
}

.t27-30{
    position: absolute;
    left: 27cm;
    top: 30cm;
}

.t28-30{
    position: absolute;
    left: 28cm;
    top: 30cm;
}

.t29-30{
    position: absolute;
    left: 29cm;
    top: 30cm;
}

.t30-30{
    position: absolute;
    left: 30cm;
    top: 30cm;
}