.contenedor{
    font-size: 9px;
    /*text-decoration-line: line-through;*/
    font-family: "Arial", "Helvetica", "Verdana", "Trebuchet";
    /*display: inline;*/
    /*border: solid black 10px;*/
    /*width: 10cm;*/
    /*height: 16.4cm;*/
    /*font-family:  "DejaVu Serif", "STIX", serif;*/

}


/*hoja 1 ##################################################################################################3*/

.fechaxx01{
    position: absolute;
    left: 6.8cm;
    top: 2.1cm;
}


.senoresxx01{
    position: absolute;
    width: 200px;
    left: 7.65cm;
    top: 2.4cm;
}

.direccionxx01{
    position: absolute;
    /*width: 75%;*/
    /*display: inline;*/
    left: 7.65cm;
    top: 2.7cm;
}
.rucxx01{
    position: absolute;
    width: 200px;
    left: 6.8cm;
    top: 3.2cm;
}

.remisionxx01{
    position: absolute;
    width: 200px;
    left: 7.5cm;
    top: 3.3cm;
}

.condicionxx01{
    position: absolute;
    width: 200px;
    left: 13.3cm;
    top: 2.2cm;
}

.telefonoxx01{
    position: absolute;
    width: 200px;
    left: 13.2cm;
    top: 3.1cm;
}

.clientexx01{
    position: absolute;
    width: 200px;
    left: 13.3cm;
    top: 3.4cm;
}

.ocxx01{
    position: absolute;
    width: 200px;
    left: 17.4cm;
    top: 3cm;
}

.vendedorxx01{
    position: absolute;
    width: 200px;
    left: 18.9cm;
    top: 3.3cm;
}

.facturanro{
    position: absolute;
    /*width: 100%;*/
    left: 23.7cm;
    top: 3.3cm;
}
.achicar{
    font-size:10px;
    font-family:  	"Arial", "Helvetica", "Verdana", "Trebuchet";
    /*border: solid black 10px;*/
    /*width: 21.65cm;*/
    /*height: 16.4cm;*/
    /*font-family:  "DejaVu Serif", "STIX", serif;*/

}


.codigoxx01{
    position: absolute;
    left: 1.25cm;
    top: 4.4cm;
}

/*.cantxx01{*/
    /*position: absolute;*/
    /*left: 3.5cm;*/
    /*top: 4.5cm;*/
/*}*/

.cantxx01{
    position: absolute;
    left: 4.5cm;
    top: 4.3cm;
}

.detallexx01{
    position: absolute;
    /*display: inline;*/
    /*width: 75%;*/
    /*max-width: 400px;*/
    /*max-height: 1px;*/
    left: 5.3cm;
    top: 4.3cm;
}

.preciounitarioxx01{
    position: absolute;
    left: 18.2cm;
    top: 4.3cm;
}

.exentaxx01{
    position: absolute;
    left: 20cm;
    top: 4.3cm;
}

.cincoxx01{
    position: absolute;
    left: 21.8cm;
    top: 4.3cm;
}

.diezxx01{
    position: absolute;
    left: 23.7cm;
    top: 4.3cm;
}

/*.achicarmas{*/
    /*font-size:8px;*/
    /*!*font-family:  	"Arial", "Helvetica", "Verdana", "Trebuchet";*!*/
    /*!*border: solid black 10px;*!*/
    /*!*width: 15cm;*!*/
    /*!*height: 16.4cm;*!*/
    /*!*font-family:  "DejaVu Serif", "STIX", serif;*!*/

/*}*/

.letraxx01{
    position: absolute;
    left: 5.3cm;
    top: 9.4cm;
    width: 75%;
    /*right: 6cm;*/
}








.valorparcialexentaxx01{
    position: absolute;
    left: 20cm;
    top: 9.4cm;
}

.valorparcialcincoxx01{
    position: absolute;
    left: 21.8cm;
    top: 9.4cm;
}

.valorparcialdiezxx01{
    position: absolute;
    left: 23.7cm;
    top: 9.4cm;
}


.totalapagarxx01{
    position: absolute;
    left: 22.8cm;
    top: 9.8cm;
}



.liqcincoxx01{
    position: absolute;
    left: 18cm;
    top: 10.2cm;
}

.liqdiezxx01{
    position: absolute;
    left: 19.8cm;
    top: 10.2cm;
}

.total510xx01{
    position: absolute;
    left: 22cm;
    top: 10.2cm;
}

.factuasoxx001{
    position: absolute;
    left: 23cm;
    top: 3.4cm;
}
.comercialxx001{
    position: absolute;
    left: 19cm;
    top: 3.4cm;
}

/*hoja 2 #############################################################################################*/

.fechaxx02{
    position: absolute;
    left: 6.9cm;
    top: 14.5cm;
}


.senoresxx02{
    position: absolute;
    width: 200px;
    left: 7.65cm;
    top: 14.9cm;
}

.direccionxx02{
    position: absolute;
    /*width: 75%;*/
    /*display: inline;*/
    left: 7.65cm;
    top: 15.2cm;
}
.rucxx02{
    position: absolute;
    width: 200px;
    left: 6.9cm;
    top: 15.7cm;
}

.remisionxx02{
    position: absolute;
    width: 200px;
    left: 7.5cm;
    top: 15.5cm;
}

.condicionxx02{
    position: absolute;
    width: 200px;
    left: 13.3cm;
    top: 14.6cm;
}

.telefonoxx02{
    position: absolute;
    width: 200px;
    left: 13.3cm;
    top: 15.5cm;
}

.clientexx02{
    position: absolute;
    width: 200px;
    left: 13.3cm;
    top: 15.8cm;
}

.ocxx02{
    position: absolute;
    width: 200px;
    left: 17.4cm;
    top: 15.2cm;
}

.vendedorxx02{
    position: absolute;
    width: 200px;
    left: 18.9cm;
    top: 15.5cm;
}

.facturanro2{
    position: absolute;
    /*width: 100%;*/
    left: 23.7cm;
    top: 15.5cm;
}
.achicar{
    font-size:10px;
    font-family:  	"Arial", "Helvetica", "Verdana", "Trebuchet";
    /*border: solid black 10px;*/
    /*width: 21.65cm;*/
    /*height: 16.4cm;*/
    /*font-family:  "DejaVu Serif", "STIX", serif;*/

}



.codigoxx02{
    position: absolute;
    left: 1.25cm;
    top: 16.8cm;
}

/*.cantxx01{*/
    /*position: absolute;*/
    /*left: 3.5cm;*/
    /*top: 4.5cm;*/
/*}*/

.cantxx02{
    position: absolute;
    left: 4.5cm;
    top: 16.8cm;
}

.detallexx02{
    position: absolute;
    /*display: inline;*/
    /*width: 75%;*/
    /*max-width: 400px;*/
    /*max-height: 1px;*/
    left: 5.3cm;
    top: 16.8cm;
}

.preciounitarioxx02{
    position: absolute;
    left: 18.2cm;
    top: 16.8cm;
}

.exentaxx02{
    position: absolute;
    left: 20cm;
    top: 16.8cm;
}

.cincoxx02{
    position: absolute;
    left: 21.8cm;
    top: 16.8cm;
}

.diezxx02{
    position: absolute;
    left: 23.7cm;
    top: 16.8cm;
}

/*.achicarmas{*/
    /*font-size:8px;*/
    /*!*font-family:  	"Arial", "Helvetica", "Verdana", "Trebuchet";*!*/
    /*!*border: solid black 10px;*!*/
    /*!*width: 15cm;*!*/
    /*!*height: 16.4cm;*!*/
    /*!*font-family:  "DejaVu Serif", "STIX", serif;*!*/

/*}*/

.letraxx02{
    position: absolute;
    left: 5.3cm;
    top: 21.8cm;
    width: 75%;
    /*right: 6cm;*/
}








.valorparcialexentaxx02{
    position: absolute;
    left: 20cm;
    top: 21.8cm;
}

.valorparcialcincoxx02{
    position: absolute;
    left: 21.8cm;
    top: 21.8cm;
}

.valorparcialdiezxx02{
    position: absolute;
    left: 23.7cm;
    top: 21.8cm;
}


.totalapagarxx02{
    position: absolute;
    left: 22.8cm;
    top: 22.2cm;
}



.liqcincoxx02{
    position: absolute;
    left: 18cm;
    top: 22.5cm;
}

.liqdiezxx02{
    position: absolute;
    left: 19.8cm;
    top: 22.5cm;
}

.total510xx02{
    position: absolute;
    left: 22cm;
    top: 22.5cm;
}

.factuasoxx002{
    position: absolute;
    left: 23cm;
    top: 15.8cm;
}

.comercialxx002{
    position: absolute;
    left: 19cm;
    top: 15.8cm;
}

/*hoja 3#######################################################################################################*/

.fechaxx03{
    position: absolute;
    left: 7.2cm;
    top: 26.7cm;
}


.senoresxx03{
    position: absolute;
    width: 200px;
    left: 7.65cm;
    top: 27.0cm;
}

.direccionxx03{
    position: absolute;
    /*width: 75%;*/
    /*display: inline;*/
    left: 7.65cm;
    top: 27.3cm;
}
.rucxx03{
    position: absolute;
    width: 200px;
    left: 6.9cm;
    top: 27.8cm;
}

.remisionxx03{
    position: absolute;
    width: 200px;
    left: 7.5cm;
    top: 27.9cm;
}

.condicionxx03{
    position: absolute;
    width: 200px;
    left: 13.3cm;
    top: 26.8cm;
}

.telefonoxx03{
    position: absolute;
    width: 200px;
    left: 13.3cm;
    top: 27.8cm;
}

.clientexx03{
    position: absolute;
    width: 200px;
    left: 13.3cm;
    top: 28.1cm;
}

.ocxx03{
    position: absolute;
    width: 200px;
    left: 17.4cm;
    top: 27.4cm;
}

.vendedorxx03{
    position: absolute;
    width: 200px;
    left: 18.9cm;
    top: 27.7cm;
}

.facturanro3{
    position: absolute;
    /*width: 100%;*/
    left: 23.7cm;
    top: 28.1cm;
}
.achicar{
    font-size:10px;
    font-family:  	"Arial", "Helvetica", "Verdana", "Trebuchet";
    /*border: solid black 10px;*/
    /*width: 21.65cm;*/
    /*height: 16.4cm;*/
    /*font-family:  "DejaVu Serif", "STIX", serif;*/

}



.codigoxx03{
    position: absolute;
    left: 1.25cm;
    top: 29cm;
}

/*.cantxx01{*/
    /*position: absolute;*/
    /*left: 3.5cm;*/
    /*top: 4.5cm;*/
/*}*/

.cantxx03{
    position: absolute;
    left: 4.5cm;
    top: 29cm;
}

.detallexx03{
    position: absolute;
    /*display: inline;*/
    /*width: 75%;*/
    /*max-width: 400px;*/
    /*max-height: 1px;*/
    left: 5.3cm;
    top: 29cm;
}

.preciounitarioxx03{
    position: absolute;
    left: 18.2cm;
    top: 29cm;
}

.exentaxx03{
    position: absolute;
    left: 20cm;
    top: 29cm;
}

.cincoxx03{
    position: absolute;
    left: 21.8cm;
    top: 29cm;
}

.diezxx03{
    position: absolute;
    left: 23.7cm;
    top: 29cm;
}

/*.achicarmas{*/
    /*font-size:8px;*/
    /*!*font-family:  	"Arial", "Helvetica", "Verdana", "Trebuchet";*!*/
    /*!*border: solid black 10px;*!*/
    /*!*width: 15cm;*!*/
    /*!*height: 16.4cm;*!*/
    /*!*font-family:  "DejaVu Serif", "STIX", serif;*!*/

/*}*/

.letraxx03{
    position: absolute;
    left: 5.3cm;
    top: 34.1cm;
    width: 75%;
    /*right: 6cm;*/
}




.valorparcialexentaxx03{
    position: absolute;
    left: 20cm;
    top: 34cm;
}

.valorparcialcincoxx03{
    position: absolute;
    left: 21.8cm;
    top: 34cm;
}

.valorparcialdiezxx03{
    position: absolute;
    left: 23.7cm;
    top: 34cm;
}


.totalapagarxx03{
    position: absolute;
    left: 22.8cm;
    top: 34.4cm;
}



.liqcincoxx03{
    position: absolute;
    left: 18cm;
    top: 34.8cm;
}

.liqdiezxx03{
    position: absolute;
    left: 19.8cm;
    top: 34.8cm;
}

.total510xx03{
    position: absolute;
    left: 22cm;
    top: 34.8cm;
}

.factuasoxx003{
    position: absolute;
    left: 23cm;
    top: 28.1cm;
}

.comercialxx003{
    position: absolute;
    left: 19cm;
    top: 28.1cm;
}
